{# template for view reviews page of website #}
{% extends "base.html.twig" %}

{% block body %}
    {# VIEWS REVIEW #}
    <h1>Reviews</h1>
    {# REVIEWS #}
    <table>
        <thead>
        <tr>
            <td>Title</td>
            <td>Artist</td>
            <td>Genre</td>
            <td>Reviewer</td>
            <td>Review</td>
            <td>Rating</td>
        </tr>
        </thead>
        <tbody>
        {% if reviews %}
            {% for review in reviews %}
                <tr>
                    {% for album in albums %}
                        {% if album.id == review.getAlbumId().id %}
                            <td>{{ album.title }}</td>
                            <td>{{ album.artist }}</td>
                            <td>{{ album.genre }}</td>
                        {% endif %}
                    {% endfor %}
                    {% for user in users %}
                        {% if user.id == review.getUserId().id %}
                            <td>{{ user.email }}</td>
                        {% endif %}
                    {% endfor %}
                    <td>{{ review.getReviewText() }}</td>
                    <td>***RATING***</td>
                    {% if app.user and review.getUserId().id == app.user.id %}
                        <td><a href="/review/edit/{{ review.id }}"><button>EDIT</button></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}